body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
}