body{
    background-color: rgb(69, 93, 102);
    color: rgb(17, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
    color: black;
}
button{
    background-color: green;   
    color: black;
    padding : 10px;
    border : none mediumvioletred;
    border-radius : 10px;

}
.button:hover{
    background-color: cornflowerblue;
    transition: 0.5s;
    transform: rotate(10deg);
}
div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
    

